<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View surveys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>   
	<ul th:each="survey:${surveys}">
		<li th:text="${survey.email}"></li>
		<li th:text="${survey.a1}"></li>
		<li th:text="${survey.a2}"></li>
		<li th:text="${survey.a3}"></li>
		<li th:text="${survey.a4}"></li>
		<li th:text="${survey.a5}"></li>
		<li th:text="${survey.a6}"></li>
		<li th:text="${survey.a7}"></li>
		<li th:text="${survey.a8}"></li>
		<li th:text="${survey.a9}"></li>
		<li th:text="${survey.a10}"></li>
		<li th:text="${survey.a11}"></li>
		<li th:text="${survey.a12}"></li>
		<li th:text="${survey.city}"></li>
		<li th:text="${survey.state}"></li>
		<li th:text="${survey.country}"></li>
	</ul>
	<br/>
</body>
</html>